In [83]:
import pandas as pd

In [118]:
# import sneakers_df.csv
path = r'/Users/gabbyvinco/Desktop/sneakers_df.csv'
sneakers_df = pd.read_csv(path, index_col=None, header=0)

In [135]:
#sneakers_df

In [120]:
# select rows that you want to work with and create subsets to then align and rearrange the data

set0 = sneakers_df.loc[0:211,:]
set1 = sneakers_df.loc[212:366,:]
set2 = sneakers_df.loc[367:522,:]
set3 = sneakers_df.loc[523:677,:]
set4 = sneakers_df.loc[678:832,:]
set5 = sneakers_df.loc[833:987,:]
set6 = sneakers_df.loc[988:1141,:]
set7 = sneakers_df.loc[1142:1291,:]
set8 = sneakers_df.loc[1292:1446,:]
set9 = sneakers_df.loc[1447:1601,:]
set10 = sneakers_df.loc[1602:1756,:]
set11 = sneakers_df.loc[1757:1911,:]
set12 = sneakers_df.loc[1912:2066,:]
set13 = sneakers_df.loc[2067:2221,:]
set14 = sneakers_df.loc[2222:2376,:]
set15 = sneakers_df.loc[2377:2532,:]
set16 = sneakers_df.loc[2533:,:]

In [121]:
# get rid of all NaN rows that were created by some issue in the scraping code
set0 = set0.dropna(axis='columns', how ='all')
set1 = set1.dropna(axis='columns', how ='all')
set2 = set2.dropna(axis='columns', how ='all')
set3 = set3.dropna(axis='columns', how ='all')
set4 = set4.dropna(axis='columns', how ='all')
set5 = set5.dropna(axis='columns', how ='all')
set6 = set6.dropna(axis='columns', how ='all')
set7 = set7.dropna(axis='columns', how ='all')
set8 = set8.dropna(axis='columns', how ='all')
set9 = set9.dropna(axis='columns', how ='all')
set10 = set10.dropna(axis='columns', how ='all')
set11 = set11.dropna(axis='columns', how ='all')
set12 = set12.dropna(axis='columns', how ='all')
set13 = set13.dropna(axis='columns', how ='all')
set14 = set14.dropna(axis='columns', how ='all')
set15 = set15.dropna(axis='columns', how ='all')
set16 = set16.dropna(axis='columns', how ='all')

In [134]:
#set0

In [124]:
# create a list of all the dataframes to then loop through 
df_list = [set1,set2,set3,set4,set5,set6,set7,set8,set9,set10,set11,set12,set13,set14,set15,set16]

In [129]:
# create a new cumulative df
sneaker_info_df = pd.DataFrame()

In [130]:
# create an empty list to append to 
sets_list = []

In [132]:
# change the column names for all of these randomly named columns
for df in df_list:
    df = df.rename(columns={df.columns[0]: 'ID'})
    df = df.rename(columns={df.columns[1]: 'Brand'})
    df = df.rename(columns={df.columns[2]: 'Colorway'})
    df = df.rename(columns={df.columns[3]: 'ReleaseDate'})
    df = df.rename(columns={df.columns[4]: 'RetailPrice'})
    df = df.rename(columns={df.columns[5]: 'Name'})
    df = df.rename(columns={df.columns[6]: 'Volatility'})
    df = df.rename(columns={df.columns[7]: 'ChangePercent'})
    df = df.rename(columns={df.columns[8]: 'Gender'})
    sets_list.append(df)

In [142]:
# reorder set0 and add it to the main df
# look at the dataset
#set0

# check the order of which the columns are in right now
cols = list(set0.columns.values)
#cols

col_correct = list(sneaker_info_df.columns.values)
#col_correct

set0 = set0[['ID',
 'Brand',
 'Colorway',
 'ReleaseDate',
 'RetailPrice',
 'Name',
 'Volatility',
 'ChangePercent',
 'Gender']]

In [145]:
# add in set 0 to complete the dataframe
sets_list.append(set0)
sneaker_info_df = pd.concat(sets_list)

In [147]:
sneaker_info_df = sneaker_info_df.sort_index(ascending=True)

In [148]:
sneaker_info_df

,ID,Brand,Colorway,ReleaseDate,RetailPrice,Name,Volatility,ChangePercent,Gender
0,bd225b2f-362f-4475-bd4a-375a23986dee,Yeezy,Resin/Resin/Resin,2021-04-26,55.0,Yeezy Slide,0.086295,0.018072,men
1,a5d54b52-13e4-42fc-8821-71729bfb8b72,Yeezy,Core/Core/Core,2021-04-26,55.0,Yeezy Slide,0.060720,-0.061611,men
2,802d45e3-6eb2-4733-816f-87c7af67f249,New Balance,White/Natural-Green,2021-04-16,130.0,New Balance 550,0.133226,-0.104348,men
3,5f9d25f9-a884-43ee-bf2c-6a066ce66eee,New Balance,White/Navy-Red,2021-04-16,130.0,New Balance 550,0.209088,0.236104,men
4,24453042-3907-4c9c-9a2c-ca7e2ce7ed1a,Converse,White/Bold Orange-Black,2018-10-08,130.0,Converse Chuck Taylor All-Star,0.084268,0.028391,men
...,...,...,...,...,...,...,...,...,...
2621,0c970fa9-0809-4247-a101-171ce2c8914f,adidas,Core Black/Core Black/Core Black,2017-08-11,180.0,adidas NMD R1,0.097151,-0.227581,men
2622,fe2e237b-039b-45bb-a192-ba5b1edf8214,adidas,Core Black/Core Black/Core Black,2019-11-29,200.0,adidas Ultra Boost All Terrain,0.522436,-0.163830,men
2623,8c68d245-d234-4a0b-b1ad-e44e7e1a2d91,adidas,Core Black/ Night Metallic/ Cloud White,0,180.0,adidas Ultra Boost 20,0.201387,-0.295000,women
2624,33dd4849-1672-45f8-8b21-1cd0517ccdc0,adidas,Green/Brown/Orange,0,250.0,adidas Ultra 4D,0.070826,-0.142857,men
2625,6ec31bc2-0883-405f-b56d-bf197ed87048,adidas,Desert Sage/Desert Sage/Desert Sage,2020-03-14,140.0,adidas Yeezy Boost 350 V2,0.143764,0.482301,toddler

In [150]:
sneaker_info_df.drop_duplicates(subset ="ID",
                     keep = False, inplace = True)

In [151]:
len(sneaker_info_df)

2206

In [152]:
sneaker_info_df.to_csv (r'/Users/gabbyvinco/Desktop/Sneaker_Info_data.csv', index = False, header=True)